<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ayuda</title>

    
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
  
          <div class="card">
            <div class="card-header">
              <h4 class="text-center">Ayuda</h4>
            </div>
  
            <div class="card-body">

              <p>
                El ID de usuario es el número de identificación de la empresa, que en la mayoría de los casos suele ser el DNI o NIF. Es importante que introduzcas el ID de usuario correctamente para poder acceder a las funciones del sistema. Si no estás seguro de cuál es tu ID de usuario, puedes ponerte en contacto con el <a href="/contacto">equipo de soporte</a> para que te lo faciliten.
              </p>
              <p>
                La contraseña es un código que te permite acceder a las funciones del sistema. La recibirás por correo electrónico cuando te des de alta en el sistema. Si has olvidado tu contraseña o necesitas cambiarla por cualquier motivo, contacta con el <a href="/contacto">equipo de soporte</a> teniendo a mano DNI de la empresa y siendo el responsble directo de la misma. Es importante que mantengas tu contraseña segura y no la compartas con nadie.
              </p>

              <a href='/login' class="btn btn-primary btn-block">Volver</a>
              
            </div>
          </div>
  
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  </body>
</html>
